section{
    width: 550px;
    height: 400px;
    margin: 50px auto;

    transition: filter 0.4s linear;

    /* position: relative; */
}
.material-symbols-outlined{
    font-size: 70px;
 text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
 transition: color 0.3s linear;
}


    
#before{
    transform: translateY(-250px);
    color: azure;
}

#after{
    transform: translate(468px,-326px);
    color: azure;
}

section div{
    width: 70px;
    margin: 0 20px;
    cursor: pointer;
}

section:hover{
    filter: brightness(80%);
}

article{
    height: 100px;
    background-color: rgba(158, 105, 26, 0.393);
    transform: translateY(-270px);
    color:#fff;
}

h1, p{
    padding-left: 15px;
}

h1{
    padding-top: 10px;
}
a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s linear;
    
}
a:hover{
    color: gray;
}

.material-symbols-outlined:hover{
    color: gray;

}

h2{
    transform: translate(15px, -380px);
    width: fit-content;
    padding: 0 5px;
    border-radius: 2px solid black;
}