<header>
  <img src="assets/img/angular.svg">
  <h1>{{ title }}</h1>
</header>
<main>

  <section class="todo-list">
    <!-- *ngFor - структурная деректива, изменяет DOM -->
    <div class="todo-item" *ngFor="let todo of todos">
      <button class="todo-checkbox icon">
        <span class="material-icons">
          check_box_outline_blank
        </span>
      </button>
      <span class="title">{{todo}}</span>
      <div class="actions">
        <button class="todo-delete icon">
          <span class="material-icons">
            delete
          </span>
        </button>
      </div>
    </div>

  </section>
</main>